body {
    font: 300 15px/1.7 'Montserrat', sans-serif;
    color: blue;
    background-color: rgb(21, 21, 98);
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reg {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: azure;
    border: 2px solid blue;
    border-radius: 5px;
    animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
    form {
        opacity: 0;
        transform: translateX(-20px);

    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.reg h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: darkblue;
}

.reg .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: blue;
}

.reg .form-control {
    width: 95%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid darkblue;
    border-radius: 5px;
    margin-bottom: 15px;
}

.reg .btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: cornflowerblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: backgroung-color 0.3s ease-in-out;
}

.reg .btn-primary:hover {
    background-color: darkblue;

}

.reg .form-text1,
#emailhelp {
    font-size: 14px;
    color: dodgerblue;
    margin-top: 5px;
}

.reg a {
    color: deepskyblue;
    text-decoration: none;
    margin-left: 5px;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.reg a:hover {
    color: indigo;
}